body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor:default;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom:10px
}
.background {
    background-image: url('Assets/ITCBackground.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .75;
    margin: 0 0 0 0;
    padding: 0;
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#imgMenu {
    float:right;
    background-image: url('Assets/HamburgerMenu_16x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
}
#imgMenu:hover {
    border: 1px groove deepskyblue;
}
#divMenu {
    position:absolute;
    right: 20px;
    top: 20px;
    background: rgb(230, 230, 230);
    border: 1px solid dimgray;
    display: none;
    padding-bottom: 10px;
}
#divMenu div {
    font-size: .75em;
    text-align: center;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
#divMenu div:hover {
    background-color:paleturquoise;
}
.container {
    margin: 0 8px;
    position:relative;
    top: 20px;
}

.main div {
    margin-bottom: 10px;
}

.main input {
    cursor: pointer;
    float: right;
    width: 100px;
    text-align: center;
}